.Redge {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Rline {
    width: 2px;
    background-color: black;
    height: 70px;
    transform: rotateY(-45deg);
}

.Ledge {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Redge > * {
    margin-left: 10px;
}

.Ledge > * {
    margin-right: 10px;
}

.Lline {
    width: 2px;
    background-color: black;
    height: 70px;
    transform: rotateZ(45deg);
}

